<div class="card shadow-sm h-100 border-primary" style="min-height: 300px;">
  <div class="card-body">
    <!-- Search -->
    <form (ngSubmit)="searchMedicine()" [formGroup]="medicineForm" class="mb-3">
      <div class="input-group">
        <input
          type="text"
          formControlName="query"
          class="form-control"
          placeholder="Enter medicine name or ID"
        />
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>

    <!-- Results Table -->
    <div class="table-responsive" style="max-height: 220px; overflow-y: auto;">
      <table class="table table-bordered table-sm align-middle text-center">
        <thead class="sticky-top custom-header">
        <tr>
          <th >Name</th>
          <th >Type</th>
          <th >Company</th>
          <th >Expiry</th>
          <th >Quantity</th>
          <th >Price</th>
          <th >Created</th>
          <th >Updated</th>
          <th >Supplier</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let med of medicines">
          <td>{{ med.name }}</td>
          <td>{{ med.itemType }}</td>
          <td>{{ med.company }}</td>
          <td>{{ med.expiryDate | date: 'dd-MM-yyyy' }}</td>
          <td>{{ med.quantity }}</td>
          <td>{{ med.unitPrice | currency:'INR' }}</td>
          <td>{{ med.createdBy }}</td>
          <td>{{ med.updatedBy }}</td>
          <td>{{ med.supplierId }}</td>
        </tr>
        <tr *ngIf="medicines.length === 0 && searched">
          <td colspan="9" class="text-muted">No medicines found</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
